.Header {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.Header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.Header .logo {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.Header .contacts-text {
  color: rgb(200, 200, 200);
  cursor: default;
}

// .Header nav::after {
//   content: '';
//   width: 100%;
//   height: 1px;
//   background-color: black;

//   margin-top: 8px;
// }
